<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li class="active">
                <a href="#">Accueil</a>
            </li>
            <li>
                <a href="#">Prestations</a>
            </li>
            <li>
                <a href="#">Engagements</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>
</nav>

<div id="header-bloc" class="container">

    <div class="row">
        <div class="col-md-4"><img [src]="srcLogo" /></div>
    </div>

</div>