<div id="valeurs-bloc" class="container">

  <div class="row">
    <h1>VALEURS</h1>
  </div>

  <div class="row">

    <ul>
      <li *ngFor="let valeur of valeursData.valeurs">
        {{valeur.name}}
      </li>
    </ul>

  </div>

<!--
      <div class="row car-block">

        <div class="col-md-6">
          <img [src]="srcImg2" />
        </div>

        <div class="col-md-6">
          <p class="p">Nous vous apportons notre savoir faire dans le domaine des mesures aérauliques équipé de nos appareils de mesure spécifiques et certifiés afin d’évaluer les performances de vos équipements de protection collective.</p>
        </div>

      </div>
-->


</div>
