<div id="contact-bloc" class="container">

    <div class="row">
        <h1>CONTACT</h1>
    </div>

    <div class="row">

        <div class="col-md-6 map">
            <iframe width="450" height="350" frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJj2AA3rYT5kcRj4DH4s6bURA&key=AIzaSyAWptYw9X-eBqlHi1y50QsKQEHtXfrsZmE" allowfullscreen></iframe>
        </div>

        <div class="col-md-6 contact-adress">
            <p>Adresse de la société : 46 Allée des Coteaux, LE RAINCY 93340</p>
            <p>contact mail : contact@control-air</p>
        </div>

    </div>

</div>