<div id="prestations-bloc" class="container">

    <div class="row">
        <h1>PRESTATIONS</h1>
    </div>

    <div class="row">

      <ul>
        <li *ngFor="let prestation of prestationsData.prestations">
          <h4>{{prestation.name}}</h4>
          <a *ngFor="let control of prestation.controls">
            <p>{{control.type}}</p>
            <p>{{control.detail}}</p>
          </a>
        </li>
      </ul>

      <a *ngFor="let prestation of prestationsData.prestations">
        <div class="module hero">
            <h4>{{prestation.name}}</h4>
            <a *ngFor="let control of prestation.controls">
                <p>{{control.type}}</p>
                <p>{{control.detail}}</p>
            </a>
        </div>
      </a>

        <div class="col-md-3 col-produit">
            <div class="produit">
                <img [src]="srcimage" />
                <p>Essai de réception - sorbonne de laboratoire</p>
            </div>
            <div class="info" data-toggle="modal" data-target="#myModal">
                En savoir plus<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </div>
        </div>

        <div class="col-md-3 col-produit">
            <div class="produit">
                <img [src]="srcimage" />
                <p>Essai de routine - sorbonne de laboratoire</p>
            </div>
            <div class="info">
                En savoir plus<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </div>
        </div>

        <div class="col-md-3 col-produit">
            <div class="produit">
                <img [src]="srcimage" />
                <p>Sorbonne à recirculation</p>
            </div>
            <div class="info">
                En savoir plus<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </div>
        </div>

        <div class="col-md-3 col-produit">
            <div class="produit">
                <img [src]="srcimage" />
                <p>Hotte de laboratoire</p>
            </div>
            <div class="info">
                En savoir plus<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-3 col-produit">
            <div class="produit">
                <img [src]="srcimage" />
                <p>Bras orientable aspirant</p>
            </div>
            <div class="info">
                En savoir plus<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </div>
        </div>

        <div class="col-md-3 col-produit">
            <div class="produit">
                <img [src]="srcimage" />
                <p>Armoire ventilée de laboratoire</p>
            </div>
            <div class="info">
                En savoir plus<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </div>
        </div>

        <div class="col-md-3 col-produit">
            <div class="produit">
                <img [src]="srcimage" />
                <p>Audit aéraulique</p>
            </div>
            <div class="info">
                En savoir plus<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </div>
        </div>

        <div class="col-md-3 col-produit">
            <div class="produit">
                <img [src]="srcimage" />
                <p>Formation</p>
            </div>
            <div class="info">
                En savoir plus<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </div>
        </div>

    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
