<div id="prestations-bloc" class="container">
                <img [src]="srcimage2" />
    <div class="row">
        <h1>PRESTATIONS</h1>
    </div>

    <div class="row">

        <div class="col-md-3 col-produit">
            <div class="produit">
                <img [src]="srcimage" />
                <p>Essai de réception - sorbonne de laboratoire</p>
            </div>
            <div class="info">
                En savoir plus<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </div>
        </div>
        
        <div class="col-md-3 col-produit">
            <div class="produit">
                <img [src]="srcimage" />
                <p>Essai de routine - sorbonne de laboratoire</p>
            </div>
            <div class="info">
                En savoir plus<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </div>
        </div>

        <div class="col-md-3 col-produit">
            <div class="produit">
                <img [src]="srcimage" />
                <p>Sorbonne à recirculation</p>
            </div>
            <div class="info">
                En savoir plus<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </div>
        </div>

        <div class="col-md-3 col-produit">
            <div class="produit">
                <img [src]="srcimage" />
                <p>Hotte de laboratoire</p>
            </div>
            <div class="info">
                En savoir plus<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-3 col-produit">
            <div class="produit">
                <img [src]="srcimage" />
                <p>Bras orientable aspirant</p>
            </div>
            <div class="info">
                En savoir plus<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </div>
        </div>
        
        <div class="col-md-3 col-produit">
            <div class="produit">
                <img [src]="srcimage" />
                <p>Armoire ventilée de laboratoire</p>
            </div>
            <div class="info">
                En savoir plus<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </div>
        </div>

        <div class="col-md-3 col-produit">
            <div class="produit">
                <img [src]="srcimage" />
                <p>Audit aéraulique</p>
            </div>
            <div class="info">
                En savoir plus<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </div>
        </div>

        <div class="col-md-3 col-produit">
            <div class="produit">
                <img [src]="srcimage" />
                <p>Formation</p>
            </div>
            <div class="info">
                En savoir plus<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </div>
        </div>
        
    </div>

</div>