<div id="prestations-bloc" class="container">

    <div class="row">
        <h1>PRESTATIONS</h1>
    </div>

    <div class="row">

      <table class="table table-striped">

        <tr>
          <th colspan="4">Contrôle des équipements de protection collective ventilés</th>
        </tr>

        <ng-container *ngFor="let prestation of prestationsData.prestations; let i = index;">

          <tr *ngFor="let control of prestation.controls; let j = index;">

            <td *ngIf="j == 0" [attr.rowspan]="prestation.controls.length">{{prestation.name}}</td>

            <td>{{prestation.controls[j].type}}</td>
            <td>{{prestation.controls[j].detail}}</td>
            <td class="prestation prestation-{{i}}" (click)="enSavoirPlusClick(elem)">En savoir plus <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></td>

          </tr>

        </ng-container>

      </table>

    </div>

    <div class="row audit">
      <h2>Audit aéraulique :</h2>
      <p>CONTROL'AIR est à votre service pour vous fournir tous les conseils dans les domaines de la ventilation. Nous intervenons sous forme d'audits, de campagnes de mesures et d'aide à la résolution de vos problématiques de ventilation. Une vision globale des phénomènes rencontrés sur site nous permet de vous apporter des solutions d'amélioration adaptées à vos besoins et contraintes.</p>
    </div>

    <div class="row">

      <ul>
        <li>
          <p>Chaque prestation est réalisée sur site et donne lieu à la production d'un rapport de mesure, où sont consignés le descriptif détaillé des contrôles réalisés, les relevés des mesures réalisés ainsi que des préconisations d'utilisations de vos équipements de protection collective.</p>
        </li>
        <li>
          <p>CONTROL'AIR s'engage à ce que tout intervenant possède une habilitation UIC aux risques chimiques</p>
        </li>
      </ul>

    </div>

</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
